.task {
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.reminder {
    border-left: 8px solid dodgerblue;
}
