<form class="add-form" (ngSubmit)="onFormSubmit()">
  <div class="form-control">
    <label for="add-text">Task</label>
    <input
      type="text"
      id="add-text"
      name="add-task-text"
      placeholder="Add Task"
      [(ngModel)]="text"
    />
  </div>
  <div class="form-control">
    <label for="add-day">Date</label>
    <input
      type="text"
      id="add-day"
      name="add-task-day"
      placeholder="Add Date"
      [(ngModel)]="day"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="add-reminder">Set Reminder</label>
    <div class="form-checkbox">
      <input
        type="checkbox"
        id="add-reminder"
        name="add-task-reminder"
        [(ngModel)]="reminder"
      />
    </div>
  </div>
  <button class="btn btn-block" type="submit">Save Task</button>
</form>
