@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.add-form {
  margin-bottom: 40px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(68, 158, 255);
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: dodgerblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  opacity: 0.9;
  transition: 0.3s ease-out;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 3px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  padding: 3px 7px;
  font-size: 17px;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  outline: none;
}

.form-control-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.form-control-check label {
  flex: 1;
}

.form-checkbox {
  margin-right: 5px;
}

.form-checkbox input {
  height: 20px;
}

#add-reminder {
  width: 18px;
  height: 18px;
}
